mat-expansion-panel{
    background: #ffffff33;
    backdrop-filter: blur(5px);
    color: #ffffff;
    border: 1px solid #5f5f5f;
}

.mat-panel-title{
    color: #ffffff;
}

.catergories-container{
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    margin-bottom: -15px; 
    margin-left: -25px; 
    margin-right: -25px; 

}

.badge-button {
    background: linear-gradient(to right, #6f4c79, #331c3a);
    color: #ffffff; 
    width: 250px;
    height: 50px;
    border-radius: 0;
    border: 1px solid #cc85dd41;
}

.div-button{
    display: flex;
    gap: 12px;
    padding: auto 20px;
}

.div-button img{
    width: 37px;
}

.div-button span{
    font-size: 15px; 
    width: 160px; 
    display: flex; 
    align-items: center;
}

.right-div-button span{
    width: 250px;
    padding-left: 50px;
}

.right-badge-button{
    margin-left: -25px;
}


/* ::ng-deep .mat-badge-content { 
    background: #3f2c41 !important; 
    padding: 0 7px !important;
    font-size: 12px !important;
    z-index: 10 !important;
    overflow-y: visible !important;
} */
  
.dropped-item {
    background-color: #646464; 
    color: #fff;  
    width: 150px;  
    padding: 15px;  
    margin: 20px ;  
    border: 2px solid #444; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px #00000033; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    cursor: pointer;
}
 
::ng-deep .mat-expansion-panel-header svg {
    fill: #e9e7e7 !important;
}

::ng-deep .step-flow-panel .mat-expansion-panel-header {
    height: 45px;
}

::ng-deep .step-flow-expanstion .mat-expansion-panel-header svg {
    fill: #000000 !important;
}

::ng-deep .step-flow-panel .mat-expansion-panel-header svg {
    fill: #ffffff !important;
}

.expansion-header, .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 16px; 
    position: relative;
    color: black;
}

.expansion-header-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
  
.step-info {
    display: flex;
    align-items: center;
    gap: 8px; 
    font-size: 14px;
    font-weight: 500;
    color: #ffffff; 
    background: linear-gradient(to right, #6f4c79, #331c3a);
    border: 1px solid #cc85dd41;
    padding: 10px 20px;
}

.step-container{
    background-color: black;
    margin: 0 -25px;
}
   
.expansion-header {
    color: white ; 
        
    .edit-icon {
        opacity: 0; 
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;
        color: #ffffff !important;

    }
  
    &:hover .edit-icon {
        opacity: 1;
    }
}

.panel-title{
    .add-icon {
        opacity: 0; 
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;
      }
    
      &:hover .add-icon {
        opacity: 1;
      }
}