<div class="modal-container">
    <span class="close-badge" (click)="close()" (keyup)="close()">✖</span>
    <h2>Add a {{ data }}</h2>

    <div class="main-content">
        <div class="modal-content">
            <div>
                <label for="name">Name:</label>
                <input id="name" type="text" [(ngModel)]="name" placeholder="Enter the name" required />
    
                <label for="key">Key:</label>
                <input id="key" type="text" [(ngModel)]="key" placeholder="Enter the key" required />
    
                <label for="next">Next:</label>
                <select id="condition" [(ngModel)]="next" required>
                    <option value="" disabled selected>Select Run Type</option>
                    @for (option of getAllKeys('steps'); track $index) {
                        <option [value]="option">
                            {{ getFormattedName(option) }}
                        </option>
                    }
                </select>            </div>
        <div class="button-container">
            <button mat-fab extended class="save-button" (click)="save()"> Save </button>
            <button mat-fab extended class="cancel-button" (click)="close()"> Cancel </button>
        </div>
    </div>
</div>