<div class="control-panel-container">

  <div class="heading" >
    <h1>WorkFlow Editor</h1>
  </div>

  <div class="controls">
      
        <mat-form-field >
          <mat-label>Inner Grid Cell Size (px)</mat-label>
          <input style="color: #f3f2f2;" matInput type="number" [value]="cellSize" (input)="updateCellSize($event)" min="7">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Select Background Color</mat-label>
          <mat-select style="color: #f3f2f2;" [(value)]="selectedColor" (selectionChange)="updateGridColor($event.value)">
            @for (color of colors; track color) {
              <mat-option class="options" [value]="color.code">
                <span [style.background]="color.code" class="color-box"></span> {{ color.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div class="button-container">
          <button class="download-btn" mat-fab aria-label="Download YAML" (click)="downloadYaml()">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      
  </div>

</div>
  