.control-panel-container{
    background: linear-gradient(to right, #271b1b, #1b1818, #403544, #be9dc9);
    margin-top: -21px;
    padding-bottom: 20px;
    /* border: 1px solid #af55ca; */
    box-shadow: 5px 5px 15px #000000;
    /* border-radius: 0 0 15px 15px; */
}

h1{
    font-weight: 700;
    color: #f8f8f8;
    padding: 25px;
    /* margin-top: 25px; */
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 25px 20px 25px;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

mat-form-field{
    height: 55px;
    background: #ffffff33;
    backdrop-filter: blur(5px);
}

mat-label{
    color: #fff;
}

::ng-deep .mat-input-element {
    color: #fff;
  }
/* 
users-grid-input mat-label{
    color: white;
} */

mat-label:focus{
    color: black;
}

.users-grid-input, .yml-container {
    display: flex;
    gap: 15px;
}

.yml-container{
    margin-right: 20px;
}

.download-btn{
    background: linear-gradient(to left, #9179b6, #d7c2dd);
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
} 