.sidebar-content{
    color: white;
    background: linear-gradient(to bottom, #bc92c9, #b5a9c7);
    width: 250px;
}

mat-sidenav{
    border-radius: 0;
}

.sidenav-container{
    height: 100%;
    /* width: 300px; */
}

p{
    font-size: large;
    padding-left: 15px;
    font-weight: 600;
}