<div class="modal-container">
    <span class="close-badge" (click)="close()" (keyup)="close()">✖</span>
    <h2>{{ getFormattedOperator(data.dropItem) }}</h2>
    
    <div class="dropdown-container">
        <div class="main-content">
            @if (data.dropItem != 'for_each') {
                <div class="left-modal">
                    <label for="con-name">Condition Name:</label>
                    <input type="text" id="con-name" [(ngModel)]="selectedConName" placeholder="Please enter Condition Name" required>
                    
                    @if (whichCategory(data.dropItem) === 'Variables Operators') {
                        <!-- scope?: global | local dropdown -->
                        <label for="scope">Scope:</label>
                        <select id="scope" [(ngModel)]="selectedScope">
                            <option value="" disabled selected>Select Scope</option>
                            @for(option of ScopeOptions; track $index){
                                <option [value]="option">
                                    {{ option }}
                                </option>
                            }
                        </select> 
                        
                        <!-- var?: string -->
                        <label for="variable">Variable:</label>
                        <input type="text" id="variable" [(ngModel)]="selectedVariable" placeholder="Please enter variable">

                        <!-- value?: Any -->
                        <label for="value">Value:</label>
                        <input type="text" id="value" [(ngModel)]="selectedValue"placeholder="Please enter value">
                    } 

                    @if (whichCategory(data.dropItem) === 'System Operators') {
<!-- time_period: Number = 0 -->
                        <label for="time-period">Time Period:</label>
                        <input type="number" id="time-period" [(ngModel)]="selectedTimePeriod" placeholder="Please enter time period (in sec)">
                    
                        @if (data.dropItem != 'wait') {
    <!-- run: string = "" -->
    <!-- source?: string -->
                            <label for="source">Source:</label>
                            <input type="text" id="source" [(ngModel)]="selectedSource" placeholder="Please enter Source">

    <!-- target?: string -->
                            <label for="target">Target:</label>
                            <input type="text" id="target" [(ngModel)]="selectedTarget" placeholder="Please enter Source">

    <!-- embedded: bool = False -->
                            <mat-slide-toggle labelPosition="before"><p class="label">Embedded</p></mat-slide-toggle>
                        }
                    }
    <!-- Condition -->
                    @if (whichCategory(data.dropItem) !== 'System Operators') {

                        <label for="condition">Condition:</label>
                        @for(i of ConditionInputBox; let index= $index; track i.id){
                            <span class="input-group">
                                <input type="text" name="" id="" placeholder="operand 1"  [(ngModel)]="ConditionInputBox[index].operand1" required>
                                <select id="condition" [(ngModel)]="ConditionInputBox[index].selectedCondition" required>
                                    <option value="" disabled selected>Operators</option>
                                    @for (option of conditionOptions; track $index) {
                                        <option [value]="option">
                                            {{ option }}
                                        </option>
                                    }
                                </select>
                                <input type="text" name="" id="" placeholder="operand 2"  [(ngModel)]="ConditionInputBox[index].operand2" required>
                                <!-- REPETETIVE CODE -->
                                <button class="close-btn" (click)="removeCondition(index)" [ngClass]="{'hidden': ConditionInputBox.length===1}">x</button>

                            </span>
                        }
                        <button  mat-fab extended (click)="addCondition()">Add</button>
                    }
                </div>
            }
            @if (whichCategory(data.dropItem) !== 'Variables Operators') {     
                <div class="right-modal">
    <!-- Run Type -->
                    @if (whichCategory(data.dropItem) === 'Control Operators') {
                        <label for="runType">Run Type:</label>
                        <select id="runType" [(ngModel)]="selectedRuntype">
                            <option value="" disabled selected>Select Run Type</option>
                            @for(option of runtypeOptions; track $index){
                                <option [value]="option">
                                    {{ option }}
                                </option>
                            }
                        </select>
                    }

    <!-- Run Dropdown -->
                    <label for="run">Run:</label>
                    <select id="run" [(ngModel)]="selectedRun" required>
                        <option value="" selected>Select Run</option>
                        @switch (selectedRuntype) {
                            @case ('flow') {
                                @for(option of runOptions('flows'); track $index){
                                    <option [value]="option">
                                        {{ getFormattedOperator(option) }}
                                    </option>
                                }
                            }
                            @case ('step') {
                                @for(option of runOptions('steps'); track $index){
                                    <option [value]="option">
                                        {{ getFormattedOperator(option) }}
                                    </option>
                                }
                            }
                            @default {
                                <optgroup label="Flows">
                                    @for (option of runOptions('flows'); track $index) {
                                        <option [value]="option">
                                            {{ getFormattedOperator(option) }}
                                        </option>
                                    }
                                </optgroup>
                                <optgroup label="Steps">
                                    @for (option of runOptions('steps'); track $index) {
                                        <option [value]="option">
                                            {{ getFormattedOperator(option) }}
                                        </option>
                                    }
                                </optgroup>
                            }
                    
                        }
                    </select>
       
    <!-- Fallback Dropdown -->
                    @if (data.dropItem != 'run_until' && data.dropItem != 'for_each') {
                        <label for="fallback" [ngClass]="{ 'disabled-label': !selectedRun }">Fallback:</label>
                        <select id="fallback" [(ngModel)]="selectedFallback" [disabled]="!selectedRun" [ngClass]="{ 'disabled-label': !selectedRun }">
                            <option value="" selected>Select fallback</option>
                            @switch (selectedRuntype) {
                                @case ('flow') {
                                    @for(option of runOptions('flows'); track $index){
                                        <option [value]="option">
                                            {{ getFormattedOperator(option) }}
                                        </option>
                                    }
                                }
                                @case ('step') {
                                    @for(option of runOptions('steps'); track $index){
                                        <option [value]="option">
                                            {{ getFormattedOperator(option) }}
                                        </option>
                                    }
                                }
                                @default {
                                    <optgroup label="Flows">
                                        @for (option of runOptions('flows'); track $index) {
                                            <option [value]="option">
                                                {{ getFormattedOperator(option) }}
                                            </option>
                                        }
                                    </optgroup>
                                    <optgroup label="Steps">
                                        @for (option of runOptions('steps'); track $index) {
                                            <option [value]="option">
                                                {{ getFormattedOperator(option) }}
                                            </option>
                                        }
                                    </optgroup>
                                }
                        
                            }
                        </select>   
                    } 
    
    <!-- toggle container -->
                    @if (whichCategory(data.dropItem) === 'Control Operators') {
                        <div class="toggle-container">
                            @if (data.dropItem === 'for_each' || data.dropItem === 'run_until') {
                                <!-- Supress -->
                                <mat-slide-toggle labelPosition="before"><p class="label">Supress</p></mat-slide-toggle>
                                @if (data.dropItem === 'run_until') {
                                    <!-- Pre run -->
                                    <mat-slide-toggle labelPosition="before"><p class="label">Pre run</p></mat-slide-toggle>
                                }
                            }
                        </div>
                    }
    
    <!-- Provider -->
                    <label for="provider">Provider:</label>
                    <select id="provider" [(ngModel)]="selectedProvider">
                        <option value="" selected>Select Provider</option>
                        @for(option of providerOptions; track $index){
                            <option [value]="option">
                                {{ option }}
                            </option>
                        }
                    </select>  
            
    <!-- Requires -->
                    <label for="requires" [ngClass]="{ 'disabled-label': !selectedProvider }">Requires:</label>
                    <input type="text" id="requires" [(ngModel)]="selectedRequires" [disabled]="!selectedProvider" placeholder="Please enter requires"> 
                </div> 
            }
        </div>
        
        <div class="button-container">
            <button mat-fab extended class="save-button" (click)="saveData(data.dropItem)"> Save </button>
            <button mat-fab extended class="cancel-button" (click)="close()"> Cancel </button>
        </div>
    </div>

</div>
  