<div class="modal-container">
    <span class="close-badge" (click)="close()">✖</span>
    <h2>{{ getFormattedOperator(data.dropItem) }}</h2>
    
    <div class="dropdown-container">
        <div class="main-content">
            <div class="left-modal">
                <!-- Condition -->
                <label for="condition">Condition:</label>
                @for(i of inputBox; let index= $index; track i.id){
                    <span class="input-group">
                        <input type="number" name="" id="" placeholder="operand 1"  [(ngModel)]="inputBox[index].operand1" required>
                        <select id="condition" [(ngModel)]="inputBox[index].selectedCondition" required>
                            <option value="" disabled selected>Operators</option>
                            @for (option of conditionOptions; track $index) {
                                <option [value]="option">
                                    {{ option }}
                                </option>
                            }
                        </select>
                        <input type="number" name="" id="" placeholder="operand 2"  [(ngModel)]="inputBox[index].operand2" required>
                        <!-- REPETETIVE CODE -->
                        <button class="close-btn" (click)="removeCondition(index)" [ngClass]="{'hidden': inputBox.length===1}">x</button>

                    </span>
                    @if (errorMessage) {
                        <p class="error">{{errorMessage}}</p>
                    }
                }
                <button  mat-fab extended (click)="addCondition()">Add</button>

            </div>
            <div class="right-modal">
                <!-- Run Dropdown -->
                <label for="run">Run:</label>
                <select id="run" [(ngModel)]="selectedRun">
                    <option value="" disabled selected>Select Run</option>
                    @for(option of runOptions; track $index){
                        <option [value]="option">
                            {{ option }}
                        </option>
                    }
                </select>
   
                @if (data.dropItem != 'run_until' && data.dropItem != 'for_each') {
                    <!-- Fallback Dropdown -->
                    <label for="fallback">Fallback:</label>
                    <select id="fallback" [(ngModel)]="selectedFallback">
                        <option value="" disabled selected>Select fallback</option>
                        @for(option of fallbackOptions; track $index){
                            <option [value]="option">
                                {{ option }}
                            </option>
                        }
                    </select>   
                }

                <div class="toggle-container">
                    @if (data.dropItem === 'for_each' || data.dropItem === 'run_until') {
                        <!-- Supress -->
                        <mat-slide-toggle labelPosition="before"><p class="label">Supress</p></mat-slide-toggle>
                        @if (data.dropItem === 'run_until') {
                            <!-- Pre run -->
                            <mat-slide-toggle labelPosition="before"><p class="label">Pre run</p></mat-slide-toggle>
                        }
                    }
                </div>


                <!-- Provider -->
                <label for="provider">Provider:</label>
                <select id="provider" [(ngModel)]="selectedProvider">
                    <option value="" disabled selected>Select Provider</option>
                    @for(option of providerOptions; track $index){
                        <option [value]="option">
                            {{ option }}
                        </option>
                    }
                </select> 
        
                <!-- Requires -->
                <label for="requires">Requires:</label>
                <input type="text" id="requires" [(ngModel)]="selectedRequires" [disabled]="!selectedProvider" placeholder="Please enter requires">

                <!-- Run Type -->
                <label for="runType">Run Type:</label>
                <select id="runType" [(ngModel)]="selectedRuntype">
                    <option value="" disabled selected>Select Run Type</option>
                    @for(option of runtypeOptions; track $index){
                        <option [value]="option">
                            {{ option }}
                        </option>
                    }
                </select>

                
            </div>
        </div>
        
        <div class="button-container">
            <button mat-fab extended class="save-button" (click)="saveData(data.dropItem)"> Save </button>
            <button mat-fab extended class="cancle-button" (click)="close()"> Cancle </button>
        </div>
    </div>

</div>
  